<div class="parent">
  <div class="child">
    <form nz-form [formGroup]="questionForm" class="login-form" (ngSubmit)="submitForm()">
      <nz-form-label [nzNoColon]="true">Сұрақ атауы</nz-form-label>
      <nz-form-item>
        <nz-form-control nzErrorTip="Бұл өріс міндетті!">
          <input type="text" nz-input formControlName="questionText" placeholder="Сұрақ мәтіні" />
        </nz-form-control>
      </nz-form-item>

        <nz-form-label [nzNoColon]="true">A нұсқасы</nz-form-label>
        <nz-form-item>
          <nz-form-control nzErrorTip="Бұл өріс міндетті!">
            <input type="text" nz-input formControlName="optionA" placeholder="A нұсқасы" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-label [nzNoColon]="true">B нұсқасы</nz-form-label>
        <nz-form-item>
          <nz-form-control nzErrorTip="Бұл өріс міндетті!">
            <input type="text" nz-input formControlName="optionB" placeholder="B нұсқасы" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-label [nzNoColon]="true">C нұсқасы</nz-form-label>
        <nz-form-item>
          <nz-form-control nzErrorTip="Бұл өріс міндетті!">
            <input type="text" nz-input formControlName="optionC" placeholder="C нұсқасы" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-label [nzNoColon]="true">D нұсқасы</nz-form-label>
        <nz-form-item>
          <nz-form-control nzErrorTip="Бұл өріс міндетті!">
            <input type="text" nz-input formControlName="optionD" placeholder="D нұсқасы" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-label [nzNoColon]="true">Дұрыс нұсқа</nz-form-label>
        <nz-form-item>
          <nz-form-control nzErrorTip="Бұл өріс міндетті!">
            <input type="text" nz-input formControlName="correctOption" placeholder="Дұрыс нұсқа" />
          </nz-form-control>
        </nz-form-item>

        <div style="padding-bottom: 30px;">
          <button nz-button class="login-form-button" nzType="primary" [disabled]="questionForm.invalid">Жіберу</button>
        </div>
    </form>
  </div>
</div>
